<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.cvsr.newapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/invoice"
        android:label="m-Billing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".AdminLogin"
            android:noHistory="true" />
        <activity android:name=".AdminRegister" />
        <activity android:name=".AdminHome" />
        <activity android:name=".Product" />
        <activity android:name=".Scan" />
        <activity android:name=".AddProduct" />
        <activity android:name=".CustomerItem" />
        <activity android:name=".SelectQuantity" />
        <activity android:name=".Bill" />
        <activity android:name=".EditProduct" />
    </application>

</manifest>